# JWT


# секретный ключ для подписи и проверки токенов
JWT_SECRET=YOUR_SECRET_HERE

# аудитория, для которой предназначен токен
JWT_AUDIENCE=localhost:3000

# издатель токена
JWT_ISSUER=localhost:3000

# время жизни токена доступа
JWT_TOKEN_TTL=3600

# время жизни токена обновления
JWT_REFRESH_TOKEN_TTL=86400




# Google


# id приложения в Google
GOOGLE_CLIENT_ID=YOUR_ID_HERE

# секретный ключ приложения в Google
GOOGLE_CLIENT_SECRET=YOUR_SECRET_HERE




# Sessions


# секретный ключ для подписи сессии
SESSION_SECRET=YOUR_SECRET_HERE




# 2FA


# имя приложения для 2FA
TFA_APP_NAME=auth-playground




# TypeORM

# тип БД (postgres, mysql, sqlite)
TYPEORM_CONNECTION=postgres

# хост БД
TYPEORM_HOST=localhost

# порт БД
TYPEORM_PORT=5432

# логин для подключения к БД
TYPEORM_USERNAME=postgres

# пароль для подключения к БД
TYPEORM_PASSWORD=YOUR_PASSWORD_HERE

# имя БД
TYPEORM_DATABASE=postgres

# автоматически подгружать entities
TYPEROM_AUTOLOAD_ENTITIES=true

# синхронизировать схему БД с entities
TYPEORM_SYNCHRONIZE=true